{% extends 'layout/base.html' %}
{% load static %}

    {% block title %}
      Login
    {% endblock %}

    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% endblock %}


{% block content %}

  <div class="box">
    <div class="logo"><img class="logo" src="{% static 'img/logo.png' %}" alt=""></div>
    <h2>Login to continue</h2>
    <p></p>
    <form>
      <div class="inputBox">
        <input type="email" name="email" required onkeyup="this.setAttribute('value', this.value);" value="">
        <label>Email</label>
      </div>
      <div class="inputBox">
        <input type="text" name="text" required onkeyup="this.setAttribute('value', this.value);" value="">
        <label>Passward</label>
      </div>
      <input type="submit" name="sign-in" value="Login">
     <div class="signup">Don't have an account? <a href="{% url 'signup' %}" >Sign up</a></div>
    </form>

  </div>

{% endblock %}
