{% extends 'layout/base.html' %}
{% load static %}
    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/project.css' %}">
    {% endblock %}
    {% block title %}
      Create Project
    {% endblock %}

{% block content %}
    <div class="form-group container myform">
        <form action="/project" method="post">
                {% csrf_token %}
            <label>Project Title</label>
            <input type="text" class="form-control"  placeholder="Enter the project title" name="title">

            <label>Project Details</label>
            <input type="text" class="form-control" placeholder="Enter the project details" name="details">

            <label>Project Target</label>
            <input type="text" class="form-control" placeholder="Enter the project target" name="total_target">

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
              </div>
            </div>

            <label>Start date:</label>
            <input type="date" name="trip-start"
                   value="2020-01-01">

            <label>End date:</label>
            <input type="date" name="trip-start"
                   value="2020-07-22">

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose Category
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Food Bank</a>
                <a class="dropdown-item" href="#">Shelters</a>
                <a class="dropdown-item" href="#">Dept Funding</a>
                <a class="dropdown-item" href="#">Education</a>
                <a class="dropdown-item" href="#">Animals</a>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


    </div>

{% endblock %}
